--
-- PostgreSQL database dump
--

\restrict XcM3gMh9ebQmIoKOjcMZMGf27wnMgaVi3UIsDNKYQQjODHFIu1d0B3TdTB3dr6h

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: game_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.game_stats (
    game_stat_id integer NOT NULL,
    player_id integer NOT NULL,
    season_id integer NOT NULL,
    team_name text NOT NULL,
    role text NOT NULL,
    champion_name text NOT NULL,
    kills integer NOT NULL,
    deaths integer NOT NULL,
    assists integer NOT NULL,
    win boolean NOT NULL,
    game_id integer NOT NULL,
    competition_phase text NOT NULL,
    CONSTRAINT game_stats_assists_check CHECK ((assists >= 0)),
    CONSTRAINT game_stats_competition_phase_check CHECK ((competition_phase = ANY (ARRAY['Regular Season'::text, 'Playoffs'::text]))),
    CONSTRAINT game_stats_deaths_check CHECK ((deaths >= 0)),
    CONSTRAINT game_stats_kills_check CHECK ((kills >= 0)),
    CONSTRAINT game_stats_role_check CHECK ((role = ANY (ARRAY['Top'::text, 'Jungle'::text, 'Mid'::text, 'Bot'::text, 'Support'::text])))
);


ALTER TABLE public.game_stats OWNER TO postgres;

--
-- Name: game_stats_game_stat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.game_stats_game_stat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.game_stats_game_stat_id_seq OWNER TO postgres;

--
-- Name: game_stats_game_stat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.game_stats_game_stat_id_seq OWNED BY public.game_stats.game_stat_id;


--
-- Name: jungle_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jungle_stats (
    game_stat_id integer NOT NULL,
    drakes_secured integer DEFAULT 0,
    rams_secured integer DEFAULT 0,
    bosses_secured integer DEFAULT 0,
    objectives_stolen integer DEFAULT 0,
    CONSTRAINT jungle_stats_bosses_secured_check CHECK ((bosses_secured >= 0)),
    CONSTRAINT jungle_stats_drakes_secured_check CHECK ((drakes_secured >= 0)),
    CONSTRAINT jungle_stats_objectives_stolen_check CHECK ((objectives_stolen >= 0)),
    CONSTRAINT jungle_stats_rams_secured_check CHECK ((rams_secured >= 0))
);


ALTER TABLE public.jungle_stats OWNER TO postgres;

--
-- Name: players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.players (
    player_id integer NOT NULL,
    player_name text NOT NULL,
    country text NOT NULL
);


ALTER TABLE public.players OWNER TO postgres;

--
-- Name: players_player_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.players_player_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.players_player_id_seq OWNER TO postgres;

--
-- Name: players_player_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.players_player_id_seq OWNED BY public.players.player_id;


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seasons (
    season_id integer CONSTRAINT season_season_id_not_null NOT NULL,
    league_name text CONSTRAINT season_league_name_not_null NOT NULL,
    season_label text CONSTRAINT season_season_label_not_null NOT NULL,
    start_date date,
    end_date date
);


ALTER TABLE public.seasons OWNER TO postgres;

--
-- Name: season_season_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.season_season_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.season_season_id_seq OWNER TO postgres;

--
-- Name: season_season_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.season_season_id_seq OWNED BY public.seasons.season_id;


--
-- Name: game_stats game_stat_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_stats ALTER COLUMN game_stat_id SET DEFAULT nextval('public.game_stats_game_stat_id_seq'::regclass);


--
-- Name: players player_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players ALTER COLUMN player_id SET DEFAULT nextval('public.players_player_id_seq'::regclass);


--
-- Name: seasons season_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons ALTER COLUMN season_id SET DEFAULT nextval('public.season_season_id_seq'::regclass);


--
-- Name: game_stats game_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_stats
    ADD CONSTRAINT game_stats_pkey PRIMARY KEY (game_stat_id);


--
-- Name: jungle_stats jungle_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jungle_stats
    ADD CONSTRAINT jungle_stats_pkey PRIMARY KEY (game_stat_id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (player_id);


--
-- Name: seasons season_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT season_pkey PRIMARY KEY (season_id);


--
-- Name: game_stats game_stats_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_stats
    ADD CONSTRAINT game_stats_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(player_id);


--
-- Name: game_stats game_stats_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_stats
    ADD CONSTRAINT game_stats_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(season_id);


--
-- Name: jungle_stats jungle_stats_game_stat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jungle_stats
    ADD CONSTRAINT jungle_stats_game_stat_id_fkey FOREIGN KEY (game_stat_id) REFERENCES public.game_stats(game_stat_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict XcM3gMh9ebQmIoKOjcMZMGf27wnMgaVi3UIsDNKYQQjODHFIu1d0B3TdTB3dr6h

